.todo-signup__header {
  font-size: 400%;
  text-align: center;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  color: rgba(155, 57, 18, 0.7);
  margin-bottom: 12px;
}

.todo-signup__form {
  text-align: center;
  border-style: solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-width: 0.5px;
  border-color: rgb(124, 124, 124, 0.2);
}

.todo-signup__email {
  margin-top: 20px;
  font-size: 300%;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  color: rgba(155, 57, 18, 0.7);
  margin-bottom: 12px;
}

.todo-signup__password {
  font-size: 250%;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  color: rgba(155, 57, 18, 0.7);
  margin-bottom: 12px;
}

.todo-signup__password-text {
  margin-bottom: 20px;
}

.todo-signup__submit {
  height: 40px;
  width: 80px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
  outline: none;
  font-size: 110%;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  color: rgba(155, 57, 18, 0.7);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.todo-signup__login-text,
.todo-signup__password-text {
  outline: none;
  height: 20px;
  font-size: 120%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(124, 124, 124, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.todo-signup__login-text:focus::placeholder {
  color: transparent;
}

.todo-signup__password-text:focus::placeholder {
  color: transparent;
}
